body{
background-color:pink;
}
h2{
color:blue;
text-align:center;
}
h3{
color:green;
text-align:center;
}
p{
color:red;
}
span{
color:yellow;
}
div{
background-color:powderblue;
}
.img1{
opacity:0.2;
}
.img2{
opacity:0.5;
}
a:hover{
color:red;
font-size:50px;
}
#para1{
text-align:center;
color:purple;
}
.center{
color:red;
}

